$color-black: #262626;
$color-white: #ffffff;
$color-gray: #6d7783;
$color-doge: #fdebbe;
$font-family: "Comic Sans MS", "HY Gulim", "Arial";
$font-size-base: 1rem;
$line-height-base: 1.5;

$screen-sm: 480px;
$screen-md: 770px;
$screen-lg: 1024px;
$screen-xl: 1440px;
$screen-4k: 2560px;

$logo-width: 229px;
$logo-height: 30px;

$logo-mobile-width: 10.5rem;
$logo-mobile-height: 1.375rem;

$logo-sm-mobile-width: 6.25rem;
$logo-sm-mobile-height: 0.875rem;

// Header
$header-height: 5.25rem;
$header-mobile-height: 3.75rem;

// Footer
$footer-bg: #978f7b;
