@import "variables";

.contentsMain {
  font-family: $font-family;
  background-color: $color-doge;
  padding-top: 3vw;
  padding-bottom: 3vw;
  @media only screen and(max-width:$screen-md) {
    text-align: center;
  }
  .flexcontainer {
    display: flex;
    justify-content: space-between;
    margin: 0 50vw 0 10vw;
    @media only screen and(max-width:$screen-md) {
      display: block;
    }
    .contentimg {
      max-width: 500px;
      max-height: 500px;
    }
  }
}
